<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my World from </title>
  </head>
  <body>
    <h1>My Name is Deepak Mishra {{ ansible_host }} and {{ ansible_system }}</h1>
  </body>
</html>